
*.user*
*.stash
*.o
moc_*
Makefile*
*.autosave
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/ui_widget.h
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/usersjohnappdatalocaltemptmpfuslfp
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/usersjohnappdatalocaltemptmpy8kqhw
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Release/release/game.exe
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/game.exe
*.user
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Release/release/qrc_sprites.cpp
build-game-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/qrc_sprites.cpp
